<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Horas Complementares
  </span>

  <br>
  <br>

<a target="_blank" href="https://docs.google.com/document/d/1N2fIh84cmTpRmMGcgIPeaOuSaQkDFer2/edit">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600">
    <span class="text-white">
      Modelo de capa Relatório
    </span>
  </button>
</a>

  <br>
  <br>

 <a target="_blank" href="https://docs.google.com/document/d/1-k2SG8TWnEQJHgLAm_5NW6zDAzjB7T5a/edit?rtpof=true&sd=true">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600">
   <span class="text-white">
      Manual das atividades complementares
    </span>
  </button>
</a>

  <br>
  <br>

  <a target="_blank" href="https://docs.google.com/document/d/138zyobd_3wt5kfrkjV4dA8vAaNtF0Ycc/edit?rtpof=true&sd=true">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600">
      <span class="text-white">
        Formulario das atividades complementares
      </span>
      </button>
  </a>

  <br>
  <br>

  <a target="_blank" href="https://docs.google.com/document/d/1ZCWPEkhpn_il9Cnn8yWNPdx_7EUCIbwc/edit?rtpof=true&sd=true">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600">
      <span class="text-white">
        Ficha das atividades complementares
      </span>
    </button>
  </a>


</div>
