<button mat-buttpm="" (click)="closeModal()" class="float-right">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
  </svg>
</button>

<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Horas Complementares
  </span>

  <br>
  <br>

<a target="_blank" href="https://docs.google.com/document/d/1N2fIh84cmTpRmMGcgIPeaOuSaQkDFer2/edit">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Modelo de capa Relatório
    </span>
  </button>
</a>

  <br>
  <br>

 <a target="_blank" href="https://docs.google.com/document/d/1-k2SG8TWnEQJHgLAm_5NW6zDAzjB7T5a/edit?rtpof=true&sd=true">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
   <span class="text-white">
      Manual das atividades complementares
    </span>
  </button>
</a>

  <br>
  <br>

  <a target="_blank" href="https://docs.google.com/document/d/138zyobd_3wt5kfrkjV4dA8vAaNtF0Ycc/edit?rtpof=true&sd=true">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        Formulario das atividades complementares
      </span>
      </button>
  </a>

  <br>
  <br>

  <a target="_blank" href="https://docs.google.com/document/d/1ZCWPEkhpn_il9Cnn8yWNPdx_7EUCIbwc/edit?rtpof=true&sd=true">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        Ficha das atividades complementares
      </span>
    </button>
  </a>


</div>
