<button mat-buttpm="" (click)="closeModal()" class="float-right">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
  </svg>
</button>

<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    AVA - Tópicos de Atuação Profissional
  </span>

  <br>
  <br>

  <a target="_blank" href="https://drive.google.com/file/d/13BeteJ0KXwdBbg5ecnFCexqhs0HrPQXN/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator mb-3 py-5 mr-1 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        Questionario 1
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1ObKlLtPwLYV55h9xcoepslqk5hVESiXJ/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator mb-3 py-5 ml-1 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        Questionario 2
      </span>
    </button>
  </a>

  <p class="text-sm">
    Contribuição: Matheus
  </p>
  <span class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">
    <span class="leading-relaxed whitespace-nowrap">
      Tudo certo
    </span>
  </span>
</div>
