<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Des. Sistemas Distribuidos
  </span>

  <br>
  <br>

  <p class="text-lg">Aula 1 - 09/08/22 - Ementa / Load Balance</p>

  <a target="_blank" href="https://drive.google.com/file/d/1gtaK-XTu82JOW_-mxs-TvrRYOWE6I1_j/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator py-5 w-full hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>

  <p class="text-lg">Aula 2 - 16/08/22 - Invocação de metodo</p>

  <a target="_blank" href="https://drive.google.com/file/d/1OTKE_CBq5hRMe6EdDwCvwoPVkpSUY57O/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator py-5 w-full hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>


</div>
