<div class="text-center">
  <span class=" text-5xl font-sans-serfi">
    Des. Sistemas Distribuidos
  </span>

  <br>
  <br>

<a target="_blank" href="https://drive.google.com/file/d/1gtaK-XTu82JOW_-mxs-TvrRYOWE6I1_j/view">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      Aula 1 - 09/08/22 - Ementa / Load Balance
    </span>
  </button>
</a>

  <br>
  <br>

 <a target="_blank" href="https://drive.google.com/file/d/1OTKE_CBq5hRMe6EdDwCvwoPVkpSUY57O/view">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
   <span class="text-white">
      Aula 2 - 16/08/22 - Invocação de metodo
    </span>
  </button>
</a>

  <br>
  <br>


</div>
