<div class="py-20 text-center bg-fixed" style="background-image:url('https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_960_720.jpg'); background-position: center -80px;  background-size: cover; background-repeat: no-repeat;">
  <span class="text-center text-5xl font-sans-serfi text-white">
    Ciência da Computação
  </span>

</div>

<div class="botoes flex justify-center pt-5 w-full items-center bg-stone-600">
  <button mat-raised-button onClick="window.open ('https://sites.google.com/view/links-2021-cc-unip/7%C2%BA-semestre?authuser=0', '_blank')" color="primary" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="mat-button-wrapper text-white">
        7º Semestre
      </span>
    </button>


  <button mat-raised-button color="primary" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="mat-button-wrapper text-white">
      APS
    </span>
  </button>

  <button mat-raised-button color="primary" onClick="window.open ('https://drive.google.com/file/d/1rijAg_X92Xfwalz7BSIUYv-Gw1zGlMQf/view?usp=sharing', '_blank')" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="mat-button-wrapper text-white">
      Provas
    </span>
  </button>
</div>

<div class="bg-stone-600 p-2">

    <table class="text-center bg-white rounded-lg">
      <thead>
          <tr>
              <th>Segunda</th>
              <th>Terça</th>
              <!-- <th>Quarta</th> -->
              <th>Quinta Par</th>
              <th>Quinta Imp</th>
              <!-- <th>Sexta</th> -->
          </tr>
      </thead>
      <tbody>
          <tr>
              <td> Qualidade de Software </td>
              <td> Des. de Sistemas Distribuidos </td>
              <!-- <td> - </td> -->
              <td> Trabalho de Curso II </td>
              <td> Orientação - Estágio </td>
              <!-- <td> - </td> -->

          </tr>
          <tr>
              <td> Qualidade de Software </td>
              <td> Des. de Sistemas Distribuidos </td>
              <!-- <td> - </td> -->
              <td> Trabalho de Curso II </td>
              <td> Orientação - Estágio </td>
              <!-- <td> - </td> -->
          </tr>
      </tbody>
    </table>

</div>
<div class="p-5 bg-stone-600">
  <mat-accordion class="text-center items-center justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
        <mat-panel-title class="justify-center">
          E-mails
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>Coordenadora Eduarda: eduarda.carvalho@docente.unip.br</p>
        <p>Professora Karen: karem.marcomini@docente.unip.br</p>
        <p>Professor Leandro: leandro.fernandes@docente.unip.br</p>
        <p>Professor João Paulo: joao.santos2@docente.unip.br</p>
        <p>Professor Léo Paschoal: leo.paschoal@docente.unip.br</p>
        <p>Professor Noel: noel.moreira@docente.unip.br</p>
    </mat-expansion-panel>
  </mat-accordion>


  <br>
  <br>


  <mat-accordion class="text-center items-center py-5 justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
        <mat-panel-title class="justify-center text-center">
          Trabalhos
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>Nenhum trabalho por aqui =)</p>

    </mat-expansion-panel>
  </mat-accordion>


  <br>
  <br>


  <mat-accordion class="text-center items-center py-5 justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
        <mat-panel-title class="justify-center text-center">
          Calendario de provas e trabalhos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Qualidade de Software - <b>19/09/2022</b> </p>
      <p> Des. de Sistemas Distribuidos - <b>20/09/2022</b> </p>
      <p> TCC - Parte 1 - <b>22/09/2022</b></p>
      <p> AVA até dia - <b>24/10/2022</b> </p>
      <p> ED - <b>17/11/2022</b></p>
      <p> APS - <b>17/11/2022</b></p>
        <div class="p-2">

          <table class="text-center bg-white rounded-lg">
            <thead>
                <tr>
                  <th> Prova </th>
                  <th> Dia </th>
                  <th> Hora </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td> Qualidade de Software </td>
                  <td> 19/09 </td>
                  <td> 19:10 / 21:00 </td>
                </tr>
                <tr>
                  <td> Des. de Sistemas Distribuidos </td>
                  <td> 20/09 </td>
                  <td> 19:10 / 21:00 </td>
                </tr>
            </tbody>
          </table>

        </div>

    </mat-expansion-panel>
  </mat-accordion>


  <br>
  <br>


  <mat-accordion class="text-center items-center py-5 justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
      <mat-panel-title class="justify-center text-center">
        TCC
      </mat-panel-title>
    </mat-expansion-panel-header>
  <div class="justify-center">
   <h1> Elementos Textuais </h1>
	<p class="text-xl text-left">
    1. Introdução.<br>
    2. Desenvolvimento.<br>
    2.1. Objetivos.<br>
    2.2. Justificativa e Delimitação do problema.<br>
    2.3. Fundamentação Teórica.<br>
    2.3.1.<br>
    2.3.2.<br>
    2.3.3. Simulação.<br>
    2.4. Aplicação das Disciplinas estudadas no TCC.<br>
    2.5. Metodologia.<br>
    2.5.1. Metodologia Design Thinking.<br>
    2.5.2. Metodologia para coleta de dados via pesquisa de campo.<br>
    2.5.3. Simulação de desempenho.<br>
    2.5.4. Amostragem.<br>
    2.5.5. Testes Realizados.<br>
    3. Resultados.<br>
    4. Considerações Finais.<br>
    - Referências Bibliográficas.<br>
    - Anexos.
  </p>

  <br>
    <img class="w-full" src="https://i.imgur.com/fbfXbXV.png">
  </div>
  </mat-expansion-panel>
</mat-accordion>
</div>



<!-- --------------------------------------------------------- Materias presenciais ------------------------------------------ -->

<div class="py-5 px-20 text-center bg-stone-600">
  <span class=" text-3xl font-sans-serfi text-white">
    MATÉRIAS PRESENCIAS
  </span>
<br>
<br>
  <button mat-raised-button color="primary" (click)="openQS()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Qualidade de Software
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openOC()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Horas complementares
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openDSD()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Des. Sistemas Distribuidos
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openOE()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Orientação de estágio
    </span>
  </button>

  <br>
  <br>

  <span class=" text-3xl font-sans-serfi text-white">
    MATÉRIAS ONLINE
  </span>

<br>
<br>

  <button mat-raised-button color="primary" (click)="openED()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      ED Engenharia de Software
    </span>
  </button>

<br>
<br>

  <button mat-raised-button color="primary" (click)="openAVACC()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      AVA - Compiladores e Computabilidade
    </span>
  </button>

<br>
<br>

  <button mat-raised-button color="primary" (click)="openAVAE()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      AVA - Empreendedorismo
    </span>
  </button>

<br>
<br>

  <button mat-raised-button color="primary" (click)="openAVAT()" class="mat-focus-indicator p-5 w-full hover:bg-stone-700 rounded-lg bg-stone-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      AVA - Tópicos de Atuação Profissional
    </span>
  </button>

</div>

