
<nav class="bg-white border-stone-200 px-2 md:px-4 py-2.5 dark:bg-stone-900">
  <div class="flex flex-wrap justify-center items-center mx-auto max-w-screen-xl">
    <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Ciência da Computação</span> -->
      <div class="flex items-center md:order-2">
          <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
      </div>
      <div id="mega-menu" class="hidden justify-between items-center w-full text-sm md:flex md:w-auto md:order-1">
          <ul class="flex flex-col mt-4 font-medium md:flex-row md:space-x-8 md:mt-0">
              <li>
                  <a href="#" class="block py-2 pr-4 pl-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-blue-500 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Inicio</a>
              </li>
              <li>
                  <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown" class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                      7º Semestre <svg aria-hidden="true" class="ml-1 w-5 h-5 md:w-4 md:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
              </li>
              <li>
                  <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">APS</a>
              </li>
              <li>
                  <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Sobre</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="py-20 text-center bg-fixed" style="background-image:url('https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_960_720.jpg'); background-position: center -80px;  background-size: cover; background-repeat: no-repeat;">
  <span class="text-center text-5xl font-sans-serfi text-white">
    Ciência da Computação
  </span>

</div>

<div class="botoes flex justify-center pt-5 w-full items-center bg-stone-600">
  <button mat-raised-button color="primary" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800">
    <span class="mat-button-wrapper text-white">
      Conteudo 7º Semestre
    </span>
  </button>

  <button mat-raised-button color="primary" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800">
    <span class="mat-button-wrapper text-white">
      APS
    </span>
  </button>

  <button mat-raised-button color="primary" class="hover:bg-stone-500 mat-focus-indicator rounded-lg ml-2 ng-tns-c209-384 mat-button-base mat-accent bg-stone-800">
    <span class="mat-button-wrapper text-white">
      Calendario de provas
    </span>
  </button>
</div>

<div class="bg-stone-600 p-5">

    <table class="text-center bg-white rounded-lg">
      <thead>
          <tr>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta Par</th>
              <th>Quinta Imp</th>
              <th>Sexta</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td> Qualidade de Software </td>
              <td> Des. de Sistemas Distribuidos </td>
              <td> - </td>
              <td> Trabalho de Curso II </td>
              <td> Orientação - Estágio </td>
              <td> - </td>

          </tr>
          <tr>
              <td> Qualidade de Software </td>
              <td> Des. de Sistemas Distribuidos </td>
              <td> - </td>
              <td> Trabalho de Curso II </td>
              <td> Orientação - Estágio </td>
              <td> - </td>
          </tr>
      </tbody>
    </table>

</div>
<div class="p-5 px-20 bg-stone-600">
  <mat-accordion class="text-center items-center justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
        <mat-panel-title class="justify-center">
          E-mails
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>Coordenadora Eduarda: eduarda.carvalho@docente.unip.br</p>
        <p>Professora Karen: karem.marcomini@docente.unip.br</p>
        <p>Professor Leandro: leandro.fernandes@docente.unip.br</p>
        <p>Professor João Paulo: joao.santos2@docente.unip.br</p>
        <p>Professor Léo Paschoal: leo.paschoal@docente.unip.br</p>
        <p>Professor Noel: noel.moreira@docente.unip.br</p>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-divider></mat-divider>


  <mat-accordion class="text-center items-center py-5 justify-center">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="w-full justify-center justify-self-center text-center">
        <mat-panel-title class="justify-center text-center">
          Trabalhos
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>Nenhum trabalho por aqui =)</p>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="p-5 px-20 bg-stone-600">
  <div class="bg-whiter rounded-lg">
    <div class="w-full p-3 justify-center rounded-lg justify-self-center"  align="center" >
      <iframe class="justify-center content-center  rounded-lg" src="https://calendar.google.com/calendar/embed?src=ivihnpqmpsoai31f3dqt89m03c%40group.calendar.google.com&ctz=America%2FSao_Paulo" style="border: 0" width="50%" height="500px" frameborder="0" scrolling="no" align = "middle"></iframe>
    </div>
</div>
</div>

<div class="p-5 px-20 text-center bg-stone-600">
  <span class="text-5xl font-sans-serfi text-white">
    Datas de entrega
  </span>
</div>

<div class="p-5 px-20 text-center bg-stone-600">
  <span class="text-5xl font-sans-serfi text-white">
    Calendario
  </span>
</div>

<!-- --------------------------------------------------------- Materias presenciais ------------------------------------------ -->

<div class="py-5 px-20 text-center bg-stone-600">
  <span class=" text-5xl font-sans-serfi text-white">
    MATÉRIAS PRESENCIAS
  </span>
<br>
<br>
  <button mat-raised-button color="primary" (click)="openQS()" class="mat-focus-indicator p-5 w-1/2 hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      Qualidade de Software
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openOC()" class="mat-focus-indicator p-5 w-1/2 hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      Horas complementares
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openDSD()" class="mat-focus-indicator p-5 w-1/2 hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      Des. Sistemas Distribuidos
    </span>
  </button>

  <br>
  <br>

  <button mat-raised-button color="primary" (click)="openOE()" class="mat-focus-indicator p-5 w-1/2 hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      Orientação de estágio
    </span>
  </button>


</div>
