<button mat-buttpm="" (click)="closeModal()" class="float-right">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
  </svg>
</button>

<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Orientação de Estágio
  </span>

  <br>
  <br>

<a target="_blank" href="https://docs.google.com/presentation/d/1zR7xLmp519402DXLWXZ-sryV7iJVy07g/edit">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
      Aula 1 - 04/08/22 PDF
    </span>
  </button>
</a>

  <br>
  <br>


</div>
