<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Qualidade de Software
  </span>

  <br>
  <br>

  <p class="text-xl">Aula 1 - 08/08/22 - Confiança pt1</p>

  <a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator py-5 mr-1 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1gD3PfdDFB-3MuVZ4hYDPKgufpncllFZW/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator py-5 ml-1 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>


  <p class="text-xl">Aula 2 - 15/08/22 - Confiança pt2</p>

  <a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator p-5 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/11cQkj7NLlnWn8ssgaF9JP5Y7VovV5eBL/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator p-5 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>

  <p class="text-xl">Aula 3 - 15/08/22 - Sistemas criticos</p>

  <a target="_blank" href="https://drive.google.com/drive/u/0/folders/1jFqsQoRQEo0vZc8LHC_ROWhIJ6sXGC0q">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator p-5 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1IUHmUx37qH2fHqV-2Pqyx-qGCQOHb-hR/view?usp=sharing">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator p-5 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>




</div>
