<div class="text-center">
  <span class=" text-5xl font-sans-serfi">
    Qualidade de Software
  </span>

  <br>
  <br>

<a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
    <span class="text-white">
      PDF Aula 1 - 08/08/22 - Confiança pt1
    </span>
  </button>
</a>

  <br>
  <br>

 <a target="_blank" href="https://drive.google.com/file/d/1gD3PfdDFB-3MuVZ4hYDPKgufpncllFZW/view">
  <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
   <span class="text-white">
      Resumo Aula 1 - 08/08/22 - Confiança pt1
    </span>
  </button>
</a>

  <br>
  <br>

  <a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
      <span class="text-white">
        PDF Aula 2 - 15/08/22 - Confiança pt2
      </span>
      </button>
  </a>

  <br>
  <br>

  <a target="_blank" href="https://drive.google.com/file/d/1gD3PfdDFB-3MuVZ4hYDPKgufpncllFZW/view">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
      <span class="text-white">
        Resumo Aula 2 - 15/08/22 - Confiança pt2
      </span>
    </button>
  </a>

  <br>
  <br>

  <a target="_blank" href="https://drive.google.com/file/d/1W9eMJRYPCkQX8VS_YTI2g8gAmiIK57qh/view">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
      <span class="text-white">
        PDF Aula 2 - 15/08/22 - Sistemas Criticos
      </span>
      </button>
  </a>

  <br>
  <br>

  <a target="_blank" href="https://drive.google.com/file/d/1IUHmUx37qH2fHqV-2Pqyx-qGCQOHb-hR/view">
    <button mat-raised-button color="primary" class="mat-focus-indicator p-5 w-full hover:bg-stone-500 rounded-lg bg-stone-800">
      <span class="text-white">
        Resumo Aula 2 - 15/08/22 - Sistemas Criticos
      </span>
    </button>
  </a>


</div>
