<button mat-buttpm="" (click)="closeModal()" class="float-right">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
  </svg>
</button>

<div class="text-center">
  <span class=" text-lg font-sans-serfi">
    Qualidade de Software
  </span>

  <br>
  <br>

  <p class="text-xl">Aula 1 - 08/08/22 - Confiança pt1</p>

  <a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator py-5 mr-1 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1gD3PfdDFB-3MuVZ4hYDPKgufpncllFZW/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator py-5 ml-1 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>


  <p class="text-xl">Aula 2 - 15/08/22 - Confiança pt2</p>

  <a target="_blank" href="https://drive.google.com/file/d/10tqnfLRy6ZC8RGBjius4aSsMtLQjqT1Y/view">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator p-5 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/11cQkj7NLlnWn8ssgaF9JP5Y7VovV5eBL/view">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator p-5 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>

  <p class="text-xl">Aula 2 - 15/08/22 - Sistemas criticos</p>

  <a target="_blank" href="https://drive.google.com/drive/u/0/folders/1jFqsQoRQEo0vZc8LHC_ROWhIJ6sXGC0q">
    <button mat-raised-button color="primary" class="float-right mat-focus-indicator p-5 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1IUHmUx37qH2fHqV-2Pqyx-qGCQOHb-hR/view?usp=sharing">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator p-5 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>

  <br>
  <br>
  <br>
  <br>

  <p class="text-xl">Aula 3 - 29/08/22 - Sistemas Embarcados e de Tempo Real</p>

  <a target="_blank" href="">
    <button disabled mat-raised-button color="primary" class="float-right mat-focus-indicator p-5 w-2/5 hover:bg-red-900 rounded-lg bg-red-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <span class="text-white">
        PDF
      </span>
    </button>
  </a>

  <a target="_blank" href="https://drive.google.com/file/d/1_dQSJ8xsOT1KhTL2XwcMhv0iltl5gTv6/view?usp=sharing">
    <button mat-raised-button color="primary" class="float-left mat-focus-indicator p-5 w-2/5 hover:bg-blue-900 rounded-lg bg-blue-600 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
    <span class="text-white">
        Resumo
      </span>
    </button>
  </a>



</div>

